@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.blog-header{
  padding: 1.5rem;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url("../../assets/imgs/header_test.jpg");
  background-size: cover;
}

.description-down{
  padding-top: 1.5%;
}

.float-right{
  margin-right: 1%;
}

#siteDescription{
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
}

a {
  color: #fff;
}

.h2 {
  @media (max-width: 992px) {
    font-size: 1.75rem;
  }
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.right-align {
  max-width: 7%;
  margin-left: 93%;
}

.display-4 {
  @media (max-width: 480px) {
    font-size: 2.5rem;
  }
}
