<header class="blog-header">
  <a class="navbar-brand" href="#"><h1 class="display-4 font-weight-bold">SiteTitle</h1></a>
  <fa-icon *ngIf="!isShow; else description" [icon]="['fas', 'angle-down']" size="2x" (click)="onShowDescription()" class="description-down"></fa-icon>
  <ng-template #description>
    <div class="p-3 p-md-5">
      <div id="siteDescription">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        <p>
        <fa-icon [icon]="['fas', 'angle-up']" size="lg" (click)="onShowDescription()" class="float-right"></fa-icon>
        </p>
      </div>
      <button class="btn btn-info float-right" (click)="onShowDescription()"><a href="#contents-box">체험 바로가기</a></button>
    </div>
  </ng-template>
</header>

