<header class="blog-header text-white mb-4">
  <a class="navbar-brand" href="#"><h1 class="display-4 font-weight-bold">SiteTitle</h1></a>
  <fa-icon *ngIf="isCollapsed" [icon]="['fas', 'angle-down']" size="2x" (click)="isCollapsed=!isCollapsed" class="description-down"></fa-icon>
  <div [ngbCollapse]="isCollapsed">
    <div class="p-3 p-md-5 row">
      <div class="col-lg-7">
        <div class="pb-3">
          <div class="pb-3">
            <h2 class="h2">
              코딩을 통해 실무를 ‘<span class="font-weight-bolder">직접</span>’ 체험해볼 수 있는<br> <융합형 진로 SW 키트>
            </h2>
          </div>
          <div class="pb-3">
            <h5 class="font-weight-bold">1) 융합 교육</h5>
            - SW 교육 의무화의 핵심인 “<strong>코딩 교육</strong>”과 중학교 자율 학기제의 핵심인 “<strong>직업 체험</strong>”을 융합했습니다
          </div>
          <div class="pb-3">
            <h5 class="font-weight-bold">2) 실질적인 직업 체험 기회</h5>
            - 글로 설명하는 직업 교육은 그만! 빅데이터 분석가, 스마트 센서 전문가, 홀로그램 전문가의 실제 직무를 “<strong>직접</strong>” 체험해볼 수 있는 키트입니다.
          </div>
          <div class="pb-3">
            <h5 class="font-weight-bold">3) 함양 능력</h5>
            - python, Unity, Javascript + (활용하는 프로그램명 기술) <br>
            - 데이터 마이닝, 정제, 및 시각화, 아두이노 키트 및 초음파 센서 사용법, 2D 드로잉 영상 이미지 전환 방법 등
          </div>
          <button class="btn btn-info float-right" (click)="isCollapsed=!isCollapsed"><a href="#contents-box">체험 바로가기</a></button>
        </div>
      </div>
    </div>
    <fa-icon class="right-align" [icon]="['fas', 'angle-up']" size="3x" (click)="isCollapsed=!isCollapsed"></fa-icon>
  </div>
</header>

