.blog-header{
  padding: 1.5rem;
  background-image: url("../../assets/imgs/header-background.jpg");
}

.description-down{
  padding-top: 1.5%;
}

.float-right{
  margin-right: 1%;
}

#siteDescription{
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
}

a {
  color: #fff;
}
