<div class="row">
  <div class="col-lg-8">
    <div class="webtoon-box">
      <img src="assets/imgs/webtoon/1.png" alt="1" class="img-fluid-odd">
      <img src="assets/imgs/webtoon/2.png" alt="2" class="img-fluid-even">
      <img src="assets/imgs/webtoon/3.png" alt="3" class="img-fluid-odd">
      <div (wheel)="onShowBigData($event)">
        <img src="assets/imgs/webtoon/4.png" alt="4" class="img-fluid-even">
        <img src="assets/imgs/webtoon/5.png" alt="5" class="img-fluid-odd">
        <img src="assets/imgs/webtoon/6.png" alt="6" class="img-fluid-even">
      </div>
      <div (wheel)="onShowHologram($event)">
        <img src="assets/imgs/webtoon/7.png" alt="7" class="img-fluid-odd">
        <img src="assets/imgs/webtoon/8.png" alt="8" class="img-fluid-even">
        <img src="assets/imgs/webtoon/9.png" alt="9" class="img-fluid-odd">
        <img src="assets/imgs/webtoon/10.png" alt="10" class="img-fluid-even">
      </div>
      <div (wheel)="onShowSmartSensor($event)">
        <img src="assets/imgs/webtoon/11.png" alt="11" class="img-fluid-odd">
        <img src="assets/imgs/webtoon/12.png" alt="12" class="img-fluid-even">
        <img src="assets/imgs/webtoon/13.png" alt="13" class="img-fluid-odd">
        <img src="assets/imgs/webtoon/14.png" alt="14" class="img-fluid-even">
      </div>
      <img src="assets/imgs/webtoon/15.png" alt="15" class="img-fluid-odd">
    </div>
  </div>
  <div class="col-lg-4" id="contents-box">
    <app-contents [bigData]="bigData" [hologram]="hologram" [smartSensor]="smartSensor"></app-contents>
  </div>
</div>

