<!-- 1. 빅데이터 전문가 -->
<div class="each-content">
  <P>
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample01" aria-expanded="false" aria-controls="collapseExample01">
      <h1>1.빅데이터 전문가</h1>
    </button>
  </P>
  <div class="collapse" id="collapseExample01">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>
<!-- 2. 홀로그램 전문가 -->
<div class="each-content">
  <P>
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample02" aria-expanded="false" aria-controls="collapseExample02">
      <h1>2.홀로그램 전문가</h1>
    </button>
  </P>
  <div class="collapse" id="collapseExample02">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>
<!-- 3. 스마트센서 전문가 -->
<div class="each-content">
  <P>
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample03" aria-expanded="false" aria-controls="collapseExample03">
      <h1>3.스마트센서 전문가</h1>
    </button>
  </P>
  <div class="collapse" id="collapseExample03">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>
